{% extends 'modelo.html' %}
{% block conteudo %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/botaoCadastro.css' %}">

<!-- botão do modal -->


{% block messagem %}
{% endblock %}


{% if messages %}
{% for message in messages %}
<div id="alerttimeout" class="alert alert-success alert-dismissible fade show col-lg-4 container fixed-bottom"
    role="alert">
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}


<div class="mb-1">
    <h3 class="account-heading">Lista de movimentações de alimento realizadas</h3>
    <div class="card border">
        <div class="card-header">
            <a type="" class="btn btn-outline-success" href="{% url 'movimentar_animal' %}"><i class="fas fa-plus-circle"></i>
                Realizar nova movimentação de
                Medicamento</a>
        </div>
        <div class="card card-body">
            <table id="example" class="table table-striped table-bordered mt-5 display responsive nowrap"
                style="width: 100%">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Fazenda Origem</th>
                        <th scope="col">Fazenda Destino</th>
                        <th scope="col">Data</th>
                        <th scope="col">Medicamento</th>
                        <th scope="col">Quantidade Trasferida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimentacao in object_list %}
                    <tr>
                        <td>{{movimentacao.fazenda_origem}}</td>
                        <td>{{movimentacao.fazenda_destino}}</td>
                        <td>{{movimentacao.data}}</td>
                        <td>{{movimentacao.medicamento}}</td>
                        <td>{{movimentacao.quantidade_transferida}}</td>
                        {% endfor %}
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verificação de exclusão?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Deseja ir para a página de exclusão</strong>
                </div>
                <div class="modal-body text-400">
                    OBS: O registro ainda não sera excluido após esta confirmação.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary " data-dismiss="modal">Cancelar</button>
                    <!-- Cria um botão para redirecionar o usuário -->
                    <a href="#" class="btn btn-outline-danger " id="btn-excluir-modal">Sim, continuar</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script>
        $(document).ready(function () {
            // Cria um evento de click no botão excluir
            $(".btn-excluir").click(function (e) {
                e.preventDefault();
                // Ao clicar, pega o atributo "url" e define como endereço de redirecionamento no botão excluir do modal
                // 1º pega o atributo "url" do botão
                var url = $(this).attr('url');
                // 2º define ele como link do botão do modal
                $("#btn-excluir-modal").attr("href", url);
            });
            // Pra garantir, cria um evento para limpar a url do botão quando o modal é fechado
            $('#modalExemplo').on('hidden.bs.modal', function () {
                $("#btn-excluir-modal").attr("href", "#");
            });
        });
    </script>
    <!-- FIM DO BOTÃO CADASTRO -->

    <script src="{% static 'js/senhamostrar.js' %}"></script>

    {% endblock %}