{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gfarm</title>
    <link rel="icon" href="http://pngimg.com/uploads/letter_g/letter_g_PNG18.png" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <!-- Links Para o Full Calender -->
    <link href="{% static 'js/calendario/core/main.css' %}" rel='stylesheet' />
    <link href="{% static 'js/calendario/daygrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'js/calendario/timeGrid/main.css' %}" rel='stylesheet' />

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Tabela DATATABLE -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css" />
    <!-- Tabela DATATABLE Bootstrap-->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

</head>

<div class="container card mt-4   ">
    <div class="card-header  text-center"><strong>Remover Evento</strong></div>
    <div class="card-body">
        <div class="container">
            <form method="post">
                <div>
                    {% csrf_token %}
                </div>
                <p class="mb-5 text-center">Tem certeza que deseja excluir o registro "{{ object }}"?</p>
                <div class="text-center">
                    <input type="submit" class="btn btn-outline-danger" value="Sim">
                    <a class="btn btn-outline-secondary" href="{% url 'dash' %}">Não</a>
                </div>
            </form>
        </div>
    </div>
</div>
