{% extends 'base.html' %}
{% load static  %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">


<body class="bg-gradient-primary">
    {% block servicos %}
    <div class="container">
        <!--  Row -->
        <div class="Row">
            <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">
                    <h2>Esqueceu a senha?</h2>
                    <hr>
                    <p class="sub-title"> Informe o seu endereço de email cadastrado abaixo e te enviaremos instruções para definir uma nova senha.</p>
                </h1>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="container ">
                        {{ form|crispy }}
                        <div class="mt-5">
                            <button class="text-center botao" type="submit" class="btn btn-dark">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock servicos %}


{% block header %}
{% endblock header %}

{% block sugestao %}
{% endblock sugestao %}

{% block footer %}
{% endblock footer %}

<!-- ##ffc107 -->