{% autoescape off %}
Você está recebendo este email porque solicitou a redefinição de senha para sua conta {{ user.get_username }}
em GFARM com o email {{ email }},
 
Clique no link abaixo:
 
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
 
Se ao clicar no link acima não funcionar, copie e cole a URL em um nova janela do seu navegador.
 
Atenciosamente,
Equipe Gfarm
(44) 9817-0238
Avenida José Felipe Tequinha, 1400 - Jardim das Nações, Paranavaí - PR, 87703-536
 
{% endautoescape %}

