{% extends 'base.html' %}
{% load static  %}
{% load crispy_forms_tags %}

{% block servicos %}
{% if validlink %}

<body class="bg-gradient-primary">
  <div class="container">
    <!--  Row -->
    <div class="Row">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">
            <h2>Nova senha.</h2>
            <hr>
            <p class="sub-title"> Informe a nova senha.</p>
          </h1>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            <div class="container ">
              {{ form|crispy }}
              <div class="mt-5">
                <button class="text-center botao" type="submit" class="btn btn-dark">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% else %}
<div class=" container shadow p-3 mb-1 bg-white rounded mt-4" style="width: 35%">
  <p>
    <p>Redefinição de senha sem sucesso</p>
    O link de redefinição de senha era inválido, possivelmente porque já foi usado.
    Por favor, solicite uma nova redefinição de senha.
  </p>
</div>
{% endif %}
{% endblock %}


{% block header %}
{% endblock %}

{% block sugestao %}
{% block footer %}

{% endblock %}
{% endblock %}